<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warrior.mapper.CosValueMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.warrior.entity.CosValue">
		<id column="ID" property="id" />
		<result column="TEMPLATE_ID" property="templateId" />
		<result column="SHOE_COUNT_ID" property="shoeCountId" />
		<result column="COS_VALUE" property="cosValue" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, TEMPLATE_ID AS templateId, SHOE_COUNT_ID AS shoeCountId, COS_VALUE AS cosValue
    </sql>

</mapper>
