<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warrior.mapper.DictionaryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.warrior.entity.Dictionary">
		<id column="DIC_ID" property="dicId" />
		<result column="DIC_VALUE" property="dicValue" />
		<result column="DIC_STRING" property="dicString" />
		<result column="PARENT_ID" property="parentId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DIC_ID AS dicId, DIC_VALUE AS dicValue, DIC_STRING AS dicString, PARENT_ID AS parentId
    </sql>

</mapper>
