<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warrior.mapper.ShoppingCartMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.warrior.entity.ShoppingCart">
		<id column="CART_ID" property="cartId" />
		<result column="USER_ID" property="userId" />
		<result column="SHOE_ID" property="shoeId" />
		<result column="COUNT" property="count" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CART_ID AS cartId, USER_ID AS userId, SHOE_ID AS shoeId, COUNT AS count
    </sql>

</mapper>
