<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warrior.mapper.SystemPropMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.warrior.entity.SystemProp">
		<id column="ID" property="id" />
		<result column="PROP_NAME" property="propName" />
		<result column="PROP_VALUE" property="propValue" />
		<result column="PROP_REMARK" property="propRemark" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, PROP_NAME AS propName, PROP_VALUE AS propValue, PROP_REMARK AS propRemark
    </sql>

</mapper>
